<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grit.screenoverlay">

    <application android:allowBackup="true" android:label="@string/app_name">
        <service android:name="com.grit.screenoverlay.ScreenOverlayService"></service>
    </application>

</manifest>
